/* BASE */
body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
}

/* PLAYER */
.container {
  background: #020617;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 350px;
  margin: auto;
  margin-top: 50px;
}

input, button {
  padding: 8px;
  margin: 10px 0;
  width: 100%;
}

#results {
  margin-top: 20px;
  text-shadow: 0 0 10px white;
}

#diceResults {
  margin-bottom: 10px;
}

#successCount {
  font-size: 42px;
  font-weight: bold;
}

.label {
  font-size: 20px;
}

/* OBS */
.obs-body {
  background: transparent;
  margin: 0;
  overflow: hidden;
}

/* Canvas fixo */
.obs-stage {
  position: relative;
  width: 1920px;
  height: 1080px;
}

/* Vídeo */
#diceVideo {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 340px;
  left: 760px;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* Texto sobre o vídeo */
.result {
  position: absolute;
  top: 340px;
  left: 760px;
  width: 400px;
  height: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-shadow: 0 0 15px white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.result.show {
  opacity: 1;
}

#diceVideo.show {
  opacity: 1;
}
/* UTIL */
.hidden {
  display: none;
}
